* {
	font-family:arial;
}

body {
	margin:0;
	padding:0;
}

header{
	display:flex;
	justify-content:center;
   /*Tamanho do menu*/
	height:100px;
}

.container {
	display:flex;
	justify-content:space-between;
	width:1150px;
}

.logo {
	display:flex;
	align-items:center;
	padding-bottom:30px;
}

.logo a {
	text-decoration: none;
}

.Img1 {
	height: 120px;
}

.Img2 {
	width: 200px;
	padding-bottom:15px;
}

.menu {
	display:flex;
	align-items:center;
   /*Tamanho do menu*/
   height:100px;
}

nav ul,
nav li {
	list-style:none;
	margin:0;
	padding:0;
}

nav ul {
   display: flex;
   /* Alinha os itens do menu */
   align-items: center;
}

nav a {
	display:block;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
	transition: 0.4s;
}

nav .active a,
nav a:hover {
	background-color:#002f5e;
/*background-color:#586bb8;*/
	color:#FFF;
   height:70px;
   display: flex;
   align-items: center;
}

#banner {
	background-image:url('../Sistema Delphi/Imagens/banner2.jpg');
   background-color: #2d3e50;
	background-position:center;
	background-size:cover;
	height:670px;
	display:flex;
	justify-content:center;
}

.column {
	flex-direction:column;
}

.banner_headline {
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:center;   
}

.banner_headline h1 {
   color:#FFF;
   font-size:67px;
   text-shadow:0px 3px 0px #555;
   margin:0;
   padding:0;
   max-width:1050px;   
}

.banner_headline h2 {
   color:#FFF;
   font-size:21px;
   text-shadow:0px 1px 0px #555;
   margin:0;
   padding:0;
   max-width:1050px;
   margin-top:30px;
   font-family:Trebuchet MS;
}

.banner_options {
   height:210px;
   display:flex;
}

.banner1,
.banner2,
.banner3 {
   flex:1;
}

.banner1 {
   background-color:#39aae1;
   color:#FFF;
   padding:20px;
}

.banner2 {
   background-color:#0079c7;
   color:#FFF;
   padding:20px;
}

.banner3 {
   background-color:#2b4c99;
   color:#FFF;
   padding:20px;
}

.banner_title {
   font-size:21px;
   margin-top:20px;
}

.banner_desc {
   font-size:12px;
   margin-bottom:20px;
}

.banner_options a {
   display:inline-block;
   border:1px solid #FFF;
   padding:5px;
   color:#FFF;
   font-size:13px;
   text-decoration:none;
}

.days {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding: 5px;
	font-size: 13px;
}

.days_hours {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #266fc5;
}

.row {
   margin-right: -15px;
   margin-left: -15px;
}

.col-lg-7.col-md-8 {
   padding-right: 0;
}

.row, .col-md-8 {
   height: 266px;
   width:420px;
}

.col-lg-7, .col-md-8, .col-sm-12 {
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}

.newsletter-content {
   margin-top: 38px;
   position: relative;
}

.newsletter-content input {
   background: #00000000;
   /*background: rgba(0, 0, 0, 0) none repeat scroll 0 0;*/
   border: 1px solid #fff;
   border-radius: 9px;
   color: #a3a3a3;
   font-size: 14px;
   height: 49px;
   padding: 0 19px;
   width: 100%;
}

/*.button-olive {
   background: #3b33ca !important;
   background-image: initial !important;
   background-position-x: initial !important;
   background-position-y: initial !important;
   background-size: initial !important;
   background-repeat-x: initial !important;
   background-repeat-y: initial !important;
   background-attachment: initial !important;
   background-origin: initial !important;
   background-clip: initial !important;
   background-color: rgb(202, 51, 56) !important;
   color: #fff !important;
}*/

button {
   cursor: pointer;
}

.newsletter-content .button {
   /*border: 0 none;
   border-top-color: initial;
   border-top-style: none;
   border-top-width: 0px;
   border-right-color: initial;
   border-right-style: none;
   border-right-width: 0px;
   border-bottom-color: initial;
   border-bottom-style: none;
   border-bottom-width: 0px;
   border-left-color: initial;
   border-left-style: none;
   border-left-width: 0px;
   border-image-source: initial;
   border-image-slice: initial;
   border-image-width: initial;
   border-image-outset: initial;
   border-image-repeat: initial;
   border-radius: 9px;
   color: #2d3e50;
   font-family: "latosemibold";*/
   border: 0 none;
   font-size: 16px;
   height: 100%;
   position: absolute;
   right: 0;
   text-align: center;
   text-transform: uppercase;
   top: 0;
   /*-webkit-transition: all 0.3s ease 0s;*/
   transition: all 0.3s ease 0s;
   width: 29.5%;
}

.banner-buttons .button {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 8px;
   /*border-bottom-style: none;
   border-bottom-width: 0;
   border-image-outset: 0 0 0 0;
   border-image-repeat: stretch stretch;
   border-image-slice: 100% 100% 100% 100%;
   border-image-source: none;
   border-image-width: 1 1 1 1;
   border-left-style: none;
   border-left-width: 0;
   border-right-style: none;
   border-right-width: 0;*/
   border-top-left-radius: 0;
   border-top-right-radius: 8px;
   /*border-top-style: none;
   border-top-width: 0;*/
   left:380px;
}

/*.newsletter-content .button {
   border-radius: 9px;
   color: #2d3e50;
   font-family: "latosemibold";
   font-size: 16px;
   height: 100%;
   position: absolute;
   right: 0;
   text-align: center;
   text-transform: uppercase;
   top: 0;
   transition: all 0.3s ease 0s;
   width: 29.5%;
}*/

.button-olive {
   background: #333eca;
   color: #fff;
}