* {
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
}

body {
	margin:0;
	padding:0;
}

header{
	display:flex;
	justify-content:center;
   /*Tamanho do menu*/
	height:100px;
	z-index:100;
	position:absolute;
	padding-left:20%;
	padding-right:40%;
}

.TopoInterior {
	display:flex;
	justify-content:space-between;
	width:750px;
}

.logo {
	display:flex;
	align-items:center;
	height: 90px;
}

.logo a {
	text-decoration: none;
}

.Img1 {
	height: 120px;
}

.Img2 {
	width: 200px;
	padding-bottom:15px;
}

#banner {
	background-image:url('../Sistema Delphi/Imagens/Cadastro.png');
	background-position:center;
	background-size:cover;
	height:969px;
	display:flex;
	justify-content:center;
}

.Container {
	width: 1150px;
    height: 500px;
    padding-top: 150px;
}

.column {
	flex-direction:column;
}

.banner_headline {
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:center;
}

.banner_headline h1 {
    color:#FFF;
    font-size:30px;
    text-shadow:0px 3px 0px #555;
    margin:0;
    padding:0;
    max-width:1050px; 
	font-weight:700;
}

.banner_headline h1 label {
    color:#f47121;
	font-weight:700;
}

.banner_headline h2 {
    color:#FFF;
    font-size:21px;
    margin:0;
    padding:0;
    margin-top:30px;
    font-family:Trebuchet MS;
}

.row {
   margin-right: -15px;
   margin-left: -15px;
}

.row, .col-md-8 {
   height: 266px;
   width:500px;
   padding-top: 20px;
}

.col-md-8 {
   padding-left: 15px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
	color:#fff;
}

.form-control {
	border-radius: 8px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    color: #555;
}

.btn-group-lg>.btn, .btn-lg {
    padding: 10px 16px;
    border-radius: 6px;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
}
.btn {
    font-size: 14px;
    cursor: pointer;
    border: 1px solid transparent;
	margin-top: 15px;
}

 /**/
 
.col-lg-8 {
    width: 600px;
    margin-left: 800px;
    margin-top: 100px;
	color:#fff;
}

.margin-right-15px {
    margin-right: 15px;
}

.h5, h5 {
    font-size: 14px;
}

.col-md-offset-6 {
    margin-left: 50%;
}

.margin-top-10px {
    margin-top: 10px;
}

.col-md-5 {
    width: 41.66666667%;
}

.text-right {
    text-align: right;
}

.col-md-7 {
    width: 58.33333333%;
}

.col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7 {
    float: left;
}

header .menu-btn {
    float: right;
    font-size: 11px;
    line-height: 27px;
    margin-top: 8px;
    padding: 0 16px;
    text-decoration: none;
}

button-default {
    background: #fff none repeat scroll 0 0;
    border: 0 none;
    color: #2d3e50;
    display: inline-block;
    font-family: "Raleway",sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 53px;
    padding: 0 31px;
    text-transform: uppercase;
    border-radius: 2px;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.button-olive {
    background: #CA3338 !important;
    color: #fff !important;
}