* {
	/*font-family: 'Roboto Condensed', sans-serif;*/
	font-weight:400;
	font-family: 'Open Sans', sans-serif;
}

body {
	margin:0;
	padding:0;
}

header{
	display:flex;
	justify-content:center;
   /*Tamanho do menu*/
	height:100px;
	background-color:#fff;
	z-index:100;
	position:fixed;
	padding-left:19.6%;
	padding-right:40%;
	/*border-bottom:3px solid #474866;*/
	box-shadow: 3px 3px 5px #00000038;
}

.TopoInterior {
	display:flex;
	justify-content:space-between;
	width:1150px;
}

.Container {
	display:flex;
	justify-content:space-between;
	width:1150px;
	margin:auto;
}

.Conteudo {
	justify-content:space-between;
	width:1150px;
	margin:auto;
	color:#7b7373;
}

.container2 {
	display:flex;
	justify-content:space-between;
	width:1150px;
	height: 1000px;
}

.logo {
	display:flex;
	align-items:center;
	height: 90px;
}

.logo a {
	text-decoration: none;
}

.Img1 {
	height: 120px;
}

.Img2 {
	width: 200px;
	padding-bottom:15px;
}

.menu {
	display:flex;
	align-items:center;
   /*Tamanho do menu*/
   height:100px;
}

nav ul,
nav li {
	list-style:none;
	margin:0;
	padding:0;
}

nav ul {
   display: flex;
   /* Alinha os itens do menu */
   align-items: center;
}

nav a {
	display:block;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
	transition: 0.4s;
}

nav .active a,
nav a:hover {
	background-color:#474866;
	color:#FFF;
    height:72px;
    display: flex;
    align-items: center;
}

#banner {
	background-image:url('../Sistema Delphi/Imagens/banner2.jpg');
	background-position:center;
	background-size:cover;
	height:670px;
	display:flex;
	justify-content:center;
	padding-top: 200px;
}

.column {
	flex-direction:column;
}

.banner_headline {
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-top:100px;
}

.banner_headline h1 {
    color:#FFF;
    font-size:67px;
    text-shadow:0px 3px 0px #555;
    margin:0;
    padding:0;
    max-width:1050px;   
}

.banner_headline h2 {
    color:#FFF;
    font-size:21px;
    text-shadow:0px 1px 0px #555;
    margin:0;
    padding:0;
    max-width:1050px;
    margin-top:30px;
    font-family:Trebuchet MS;
	font-weight:700;
}

.row {
   margin-right: -15px;
   margin-left: -15px;
}

.col-lg-7.col-md-8 {
   padding-right: 0;
}

.row, .col-md-8 {
   height: 266px;
   width:420px;
   padding-top: 20px;
}

.col-lg-7, .col-md-8, .col-sm-12 {
   position: relative;
   min-height: 1px;
   padding-right: 15px;
   padding-left: 15px;
}

.newsletter-content {
   margin-top: 38px;
   position: relative;
}

.newsletter-content input {
   background: #00000000;
   border: 1px solid #fff;
   border-radius: 9px;
   color: #fff;
   font-size: 14px;
   height: 49px;
   padding: 0 19px;
   width: 100%;
}

button {
   cursor: pointer;
}

.newsletter-content .button {
   border: 0 none;
   font-size: 16px;
   height: 100%;
   position: absolute;
   right: 0;
   text-align: center;
   text-transform: uppercase;
   top: 0;
   width: 29.5%;
}

.banner-buttons .button {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 8px;
   border-top-left-radius: 0;
   border-top-right-radius: 8px;
   left:450px;
   width:220px;
}

.button-olive {
   background: #333eca;
   color: #fff;
}

.Titulo {
	margin-top:20px;
}

.Titulo h2 {
	color:#5a5252;
	/*font-weight:700;*/
}

.Titulo figure {
	margin-left: 150px;
}

.vc_separator .vc_sep_holder {
    height: 1px;
    position: relative;
}

.vc_separator .vc_sep_holder .vc_sep_line {
    height: 1px;
    border-top: 1px solid #EBEBEB;
    display: block;
    position: relative;
    top: 1px;
}

.vc_separator.vc_sep_color_grey .vc_sep_line {
    border-color: #e0e0e0;
	width: 570px;
    margin: auto;
}

.ImagensTextos {
	margin: auto;
}

.img1 {
	width:120px;
	height:120px;
	margin-left:70px;
}

.txt1 {
	width:250px;
	text-align:center;
	float:left;
}

.img2 {
	width:80px;
	height:80px;
	margin-bottom:20px;
	margin-left:195px;
}

.txt2 {
	width:250px;
	text-align:center;
	float:left;
	margin-left:50px;
}

.img3 {
	width:50px;
	height:60px;
	margin-bottom:30px;
	margin-left:230px;
}

.txt3 {
	width:250px;
	text-align:center;
	float:left;
	margin-left:50px;
}

.img4 {
	width:60px;
	height:60px;
	margin-bottom:30px;
	margin-left:230px;
}

.txt4 {
	width:250px;
	text-align:center;
	float:left;
	margin-left:50px;
}

#banner4 {
	margin-top:200px;
	background-image:url('../Sistema Delphi/Imagens/banner3.png');
    background-position: center;
    background-size: cover;
    height: 300px;
    display: flex;
    justify-content: center;
}

.txt5 {
	margin:auto;
	color:#fff;
	font-size:25px;
	font-weight:700;
}

.row2 {
   margin-right: -15px;
   margin-left:280px;
   height: 150px;
   width:500px;
}

.newsletter-content2 {
   margin-top: 38px;
   position: relative;
}

.newsletter-content2 input {
   background: #00000000;
   border: 1px solid #fff;
   border-radius: 9px;
   color: #fff;
   font-size: 14px;
   height: 49px;
   padding: 0 19px;
   width: 100%;
}

.newsletter-content2 .button {
   border: 0 none;
   font-size: 16px;
   height: 100%;
   position: absolute;
   right: 0;
   text-align: center;
   text-transform: uppercase;
   top: 0;
   transition: all 0.3s ease 0s;
   width: 29.5%;
}

.banner-buttons2 .button {
   border-bottom-left-radius: 0;
   border-bottom-right-radius: 8px;
   border-top-left-radius: 0;
   border-top-right-radius: 8px;
   left:450px;
   width:220px;
}

.button-olive {
   background: #333eca;
   color: #fff;
}

.banner_headline2 {
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:center;
	margin-top:140px;
	margin-bottom: 40px;
	height: 150px;
}

.row2, .col-md-82 {
   height: 266px;
   width:420px;
}

.newsletter-content2 input {
   background: #fff;
   border: 1px solid #fff;
   border-radius: 9px;
   color: #000;
   font-size: 14px;
   height: 49px;
   padding: 0 19px;
   width: 100%;
}

.img5 img {
	width: 200px;
    height: 100px;
    margin-top: 70px;
}

.txt6 span {
	font-weight:700;
	margin-top:150px;
	font-size:30px;
	color:#5a5252;
}

.txt6 {
	float:left;
	margin-top: 90px;
}

.img5 {
	float:left;
	height: 150px;
    width: 180px;
}

.txt7 {
	float:left;
	margin-left: 180px;
}

.make_info {
    display:flex;
    justify-content: left;
    padding-bottom:12px;
}

.make_info a {
    text-decoration: none;
    border-bottom: 1px dotted #2b4c99;
}

.make_info .icon {
    padding-right:8px;
}

.icon img {
	width:20px;
	height:20px;
}

.p1 .icon {
	line-height:27px;
}

#rodape {
	background-color:#3b4f64;
	background-position:center;
	background-size:cover;
	height:150px;
	display:flex;
	justify-content:center;
}

.TopoInterior {
	display:flex;
	justify-content:space-between;
	width:1150px;
}

.logo2 {
	display:flex;
	align-items:center;
}

.logo2 a {
	text-decoration: none;
}

.logo2 {
	float:left;
	align-items:center;
	margin-bottom: 0;
    margin-top: 0px;
    padding-top: 15px;
}

.logo2 a {
	text-decoration:none;
}

.icon_text a {
	text-decoration:none;
	color:#7b7373;
}

.icon_text a:hover {
	color:#f47121;
}

.RedesSociais {
	margin-top:50px;
}

.RedesSociais a {
	margin-top:50px;
}

.div_teste{
	width:300px;
	height:35px;
	background:#f47121;
	position:fixed;
	z-index:100;
	bottom:0;
	right:2px;
	color:#fff;
	border-radius: 9px 9px 0 0;
	font-size:20px;
	text-align:justify;
	cursor: pointer;
}

.div_teste span {
	padding-left: 32%;
}