* {
	font-family:arial;
}

body {
	margin:0;
	padding:0;
}

header{
	display:flex;
	justify-content:center;
	height:120px;
}

.container {
	display:flex;
	justify-content:space-between;
	width:1150px;
}

.logo {
	display:flex;
	align-items:center;
	padding-bottom:30px;
}

.logo a {
	text-decoration: none;
}

.Img1 {
	height: 120px;
}

.Img2 {
	width: 200px;
	padding-bottom:15px;
}

.menu {
	display:flex;
	align-items:center;
}

nav ul,
nav li {
	list-style:none;
	margin:0;
	padding:0;
}

nav ul {
	display:flex;
}

nav a {
	display:block;
	padding:15px;
	text-decoration:none;
	text-transform:uppercase;
	color:#727272;
	transition: 0.4s;
}

nav .active a,
nav a:hover {
	background-color:#002f5e;
//	background-color:#586bb8;
	color:#FFF;
}

#banner {
	background-image:url('../Sistema Delphi/Imagens/banner2.jpg');
	background-position:center;
	background-size:cover;
	height:670px;
	display:flex;
	justify-content:center;
}

.column {
	flex-direction:column;
}

.banner_headline {
	flex:1;
	display:flex;
	flex-direction:column;
	justify-content:center;   
}

.banner_headline h1 {
   color:#FFF;
   font-size:67px;
   text-shadow:0px 3px 0px #555;
   margin:0;
   padding:0;
   max-width:1050px;   
}

.banner_headline h2 {
   color:#FFF;
   font-size:21px;
   text-shadow:0px 1px 0px #555;
   margin:0;
   padding:0;
   max-width:1050px;
   margin-top:30px;
   font-family:Trebuchet MS;
}

.banner_options {
   height:210px;
   display:flex;
}

.banner1,
.banner2,
.banner3 {
   flex:1;
}

.banner1 {
   background-color:#39aae1;
   color:#FFF;
   padding:20px;
}

.banner2 {
   background-color:#0079c7;
   color:#FFF;
   padding:20px;
}

.banner3 {
   background-color:#2b4c99;
   color:#FFF;
   padding:20px;
}

.banner_title {
   font-size:21px;
   margin-top:20px;
}

.banner_desc {
   font-size:12px;
   margin-bottom:20px;
}

.banner_options a {
   display:inline-block;
   border:1px solid #FFF;
   padding:5px;
   color:#FFF;
   font-size:13px;
   text-decoration:none;
}

.days {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
	padding: 5px;
	font-size: 13px;
}

.days_hours {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #266fc5;
}
